@font-face {
	font-family: PTSansCaption;
	src: url('/PT-Sans/PTC55F.ttf');
}

body {
	
}

.topButtons {
	border: 1px solid black;
	width: 12px;
	height: 25px;
}

.mainSection {
	width: 70%;
	float: right;
	height:1000px;
	z-index: 0;
}
.leftpane {
	float: left;
	width: 25%;
	height: 1000px;
	z-index: 2;
}
.mainbuttons {
	position: relative;
	float: right;
	width: 180px;
	font-size: 34px;
	line-height: 45px;
	color: #D8D2D2;
}
.mainbuttons:hover {
	color: #000000;
	text-shadow: 10px 10px 5px #888888;
	cursor: pointer;
}


#slidepane {
	position: absolute;
	left: 30%;
	height: 800px;
	width: 700px;
	background-color: #33339F;
	top: 200px;
	z-index: 1;
}

#mainmenu {
	font-family: PTSansCaption;
	width  :180px;
	float: right;
	position: relative;
	top: 150px;
	right: 20px;
}